{{ template "base" . }}
{{ define "title" }} 404 {{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="/static/style/center.css">
{{ end }}

{{ define "js" }}
    <script src="/static/js/hacker-text.js" charset="utf-8"></script>
{{ end }}

{{ define "content" }}
<div class="has-text-centered">
    <div class="middle">
        <div class="hacker-text title is-primary err">404</div>
        <div class="hacker-text hacker-text-type hacker-test-fast sub">Page not found!</div>
    </div>
</div>
{{ end }}
